<div class="main-section">
    <div class="main-container">
        <div class="services">
            <div class="service-slide">
                <div class="service-items">
                    @for (item of services; track $index) {
                        <div>
                            <span class="main-jumbo-tiny">{{item.name}}</span>                        
                        </div>
                    }
                </div>
                <div class="service-items">
                    @for (item of services; track $index) {
                        <div>
                            <span class="main-jumbo-tiny">{{item.name}}</span>                        
                        </div>
                    }
                </div>                
            </div>
        </div>
    </div>
</div>
