<div class="container">
  <div class="row">
      <div class="contact-us-section">
        <div class="contact-us-container">
          <div class="contact-us-row"><span class="contact-us-jumbo-small">CONTACT US</span></div>  
          <section>
            <div>
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="field-container">
                  <div class="container-row">
                    <mat-form-field appearance="outline">
                      <label for="firstname">First Name*</label>
                      <input matInput formControlName="firstname" type="text" id="firstname" name="firstname" />
                    </mat-form-field>
                  </div>
                  <div class="container-row">
                    <mat-form-field appearance="outline">
                      <label for="lastname">Last Name*</label>
                      <input matInput formControlName="lastname" type="text" id="lastname" name="lastame" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="field-container">
                  <div class="container-row">
                    <mat-form-field appearance="outline">
                      <label for="company">Company</label>
                      <input matInput formControlName="company" type="text" id="company" name="company" />
                    </mat-form-field>
                  </div>
                  <div class="container-row">
                    <mat-form-field appearance="outline">
                      <label for="title">Title</label>
                      <input matInput formControlName="title" type="text" id="title" name="title" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="field-container">
                  <div class="container-row">
                    <mat-form-field appearance="outline">
                      <label for="email">Email*</label>
                      <input matInput formControlName="email" type="email" id="email" name="email" />
                    </mat-form-field> 
                  </div>
                  <div class="container-row">
                    <mat-form-field appearance="outline">
                      <label for="phone">Phone</label>
                      <input matInput formControlName="phone" type="text" id="phone" name="phone" />
                    </mat-form-field>
                  </div>
                </div>
                <mat-form-field appearance="outline">
                  <label for="message">Message*</label>
                  <textarea matInput formControlName="message" id="message" name="message" rows="8"></textarea>
                </mat-form-field>
                <button mat-raised-button class="button-secondary" color="secondary" (click)="onCancel()">CANCEL</button>
                <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">SEND</button>
              </form>
            </div>
          </section>
        </div>
      </div>
    </div>
</div>
