.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    margin-left: 20px;
    margin-right: 20px;
}

.field-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 10px;
}

.column-left {
    flex: 1;
    text-align: right;
}

.column-right {
    flex: 1;
    text-align: left;
}

.container-row {
    flex: 1;
}

.contact-us-card {
    max-width: 400px;
}

.contact-us-section {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    margin: 10px; 
}

.contact-us-container {
    text-align: center;
    margin: 10px;
}

.contact-us-row {
    flex: 1;
}

.contact-us-jumbo {
    font-size: 4rem;
    font-weight: 700;
    color: silver;
}

.contact-us-jumbo-small {
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
}

.contact-us-jumbo-tiny {
    font-size: 1.5rem;
    font-weight: 700;
    color: silver;
}

.button-primary {
    background-color: #62c1bf;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
}

mat-form-field {
    width: 100%;
    max-width: 600px;
}

button {
    width: 125px;
    margin: 10px;
}

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #62c1bf;
    --mdc-protected-button-label-text-color: #fff;
    --mat-protected-button-state-layer-color: #fff;
    --mat-protected-button-ripple-color: rgba(255, 255, 255, 0.1);
}