.services-card {
    color: white;
    max-width: 300px;
    background-color: black;
    min-height: 200px;
}

.services-card-header {
    background-color: #62c1bf;
    height: 70px;
}

.services-card-header-image {
    background-image: url('../../assets/card-background-1.svg');
    background-size: cover;
}

p {
    margin-top: 10px;
}