.motto-section {
    display: flex;
    flex-direction: column;
    background-color: transparent;

}

.motto-container {
    flex-direction: column;
    text-align: center;
    margin: 20px 50px 0px 50px;
}

.motto-row {
    flex: 1;
    margin-bottom: 10px;
}

.motto-jumbo {
    font-size: 4rem;
    font-weight: 700;
    color: silver;
}

.motto-jumbo-small {
    font-size: 2.5rem;
    font-weight: 700;
    color: silver;
}

.motto-jumbo-tiny {
    font-size: 1.5rem;
    font-weight: 700;
    color: silver;
}

button {
    width: 150px;
    margin-bottom: 20px;
}

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #62c1bf;
    --mdc-protected-button-label-text-color: #fff;
    --mat-protected-button-state-layer-color: #fff;
    --mat-protected-button-ripple-color: rgba(255, 255, 255, 0.1);
}