.logo-section {
    display: grid;
    margin-bottom: 10px;
    flex-direction: row;
    justify-items: start;
    width: 100%;
    background-color: black;
}

.logo-image {
    width: 395px; 
    height: auto;
    text-align: left;
}